# MSC
[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Oo]bj/

# Visual Studio
UserSettings/
.vs/
.plastic/
*.csproj
*.sln
node_modules/
__pycache__/
.pytest_cache/
.vscode/

# DreamAI
.env
venv/
dreamvenv/
dream/
.dream/
.DS_Store